/*GLOBAL*/

body{
  font-family: 'Lato', sans-serif;
  background-color: black
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

h3 a {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

h3 a:hover{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

section{
  padding: 45px 0 80px 0;
}

section .heading{
  text-align: center;
  padding-bottom: 40px;
}

section .heading h2{
  text-transform: uppercase;
}

.red-divider{
  width: 100px;
  height: 2px;
  background-color: #7294d1;
  margin: 0 auto;
}

li{
  list-style: none;
}
.white-divider{
  width: 100px;
  height: 2px;
  background-color: white;
  margin: 0 auto;
}

/*NAVBAR*/


.navbar {
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar .container{
 background-color: #7294d1;
  width: 100%;
}

.navbar .navbar-nav{
  display: inline-block;
  float: none;
  vertical-align: center;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
  background-image: none;
}

.navbar .navbar-collapse{
  text-align: center;
}

.navbar li a{
  color: #fff!important ;
}


.navbar-nav li a:hover, .navbar-nav li.active a{
    color: #7294d1 !important;
    background-color: white !important;
}

.navbar-default .navbar-toggle{
  border-style: none;
}


.navbar button:hover{
  background-color: #7294d1!important;
}

.navbar button:hover .icon-bar{
  background-color: #000!important;
}

.icon-bar{
  background-color: #fff!important;
}

.navbar button.active{
  background-color: #7294d1!important;
}

/*ABOUT*/

#about{
  padding-top: 200px;
  background: #7294d1;
}
.profile-picture{
  text-align: center;
  margin: 0 auto;
  float: none;
}
#about .heading h1{
  color: white;
  text-transform: uppercase;
}

#about .heading h3{
  color: black;
}
.button1{
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  border-radius: 3px;
  transition: all 0.3s ease-in 0s;
}

.button1:hover{
  background: white;
  color: #7294d1;
  text-decoration: none;
}

/*SKILLS*/

#skills{
  background: white;
  
}

#skills .heading h2{
  color: #7294d1;
}

#skills .progress{
  height: 100%;
  margin: 30px 20px;
  background-color:  #ddd;
}

#skills .progress-bar{
  background: #7294d1;
}

#skills .progress h5{
  text-shadow: 1px 1px 1px black;
}

/*EXPERIENCE*/


#experience{
  background: #7294d1;
}

#experience .heading h2{
  color: white;
  
}

.timeline{
  padding: 30px 10px;
  position: relative;
}

.timeline:before{
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background-color: #333;
  left : 50%;
  margin-left: -2.5px;
}

.timeline > li{
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:after{
  clear: both;
}

.timeline > li:before, .timeline > li:after{
  content: " ";
  display: table;
}

.timeline li .timeline-badge{
  color: #7294d1;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #fff;
  border-radius: 50%;
}


.timeline-panel-container
{ 
  width: 50%;
  float: left;
}

.timeline-panel-container-inverted{
  width: 50%;
  float: right;
}

.timeline-panel{
  width: 90%;
  float: right;
  margin-right: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  background: white;
}

.timeline-panel-container-inverted .timeline-panel{
  float: left;
  margin-left: 40px;
}

.timeline-panel:after{
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline-panel-container-inverted .timeline-panel:after{
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-heading h3{
  margin-top: 5px;
  font-size: 20px;
}

.timeline-heading h4{
  color: #7294d1;
}

/*EDUCATION*/

#education{
  background: white;
}

#education .heading h2{
  color : #7294d1;
}

.education-block 
{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background: #ddd;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-bottom: 20px;
}

.education-block h5{
  color:#888;
  font-size: 15px;
  margin-bottom: 15px;
}

.education-block .glyphicon{
  font-size: 40px;
}

.education-block h3{
  color: #7294d1;
}

.education-block h4{
  margin-bottom: 20px
}

.education-block p
{
  font-weight: bold;
}

.education-block .red-divider{
  margin-bottom: 20px;
}

/*PORTFOLIO*/
#portfolio{
  background: #7294d1;
}

#portfolio .heading h2{
  color: white;
}

#portfolio .thumbnail img{
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#portfolio .thumbnail img:hover{

  filter: none;
  -webkit-filter: none;
}


#monSliderParent {
    border-radius: 7px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
   
    background-color: red;
    position: relative;
    height: 400px;
    overflow: hidden;
}

#monSliderContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    transition : 0.5s;
}

#monSliderContent a{
  z-index: 100;
  width: 25%;
  height: 20%;
  position: absolute;
  top: 0;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  background-color: rgba(100,100,100,0.5);
  color: white;
  font-weight: bold;
  font-size: 40px;
  align-items: center;
}

#monSliderArrows {
    padding: 0 10px 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
}


#monSliderSlide1 {
    background: url(../images/mario.png) center no-repeat;
    background-size: cover;
}

#monSliderSlide2 {
    background: url(../images/actrices.png)center no-repeat;
    background-size: cover;
}

#monSliderSlide3{
    background: url(../images/serpent.png) center no-repeat;
    background-size: cover;
}

#monSliderSlide4{
    background: url(../images/voyage.png) center no-repeat;
    background-size: cover;
}

.slide {
    width: 25%;
}



/*RECOMMANDATION*/
#recommendations{
 background: #7294d1; 
}

#recommendations .heading h2{
  color: white;
}




/*Contact*/



#contact {
    background: white ;
    color: #7294d1;
}

#contact a{
    color: #7294d1;
}

#contact .col-md-3{
    padding-top: 10px;
}

#contact a:hover{
    text-decoration: none;
}

#contactInformations i{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 70px;
}

#contactInformations p{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 19px;
}

/*FOOTER*/

#footer{
  padding: 20px 0 40px;
  background-color: #333;
  text-align: center;
}

#footer a{
  color: #7294d1;
  font-size: 25px;
  margin: 20px;
  height: 30px;
}

#footer a:hover{
  font-size: 27px;
  height: 38px;
}