*{
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body{
  height: 1142px;
  margin: 0 auto;
  width: 900px;
  border: 1px solid white;
}

a{
  color: white;
  text-decoration: none;
}

a : hover{
  color: white;
}

h1{
  text-align: right;
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 5px;
  font-weight: bold;
}

p{
  font-weight:100;
  font-size: 20px;
  
}

#main{
  width: 95%;
  margin: 10px auto;
  
}


#gauche{
  height: 1150px;
  padding: 10px;
  padding-bottom: 10px;
  width: 300px;
  display: inline-block;
  background-color:#6d89a1;
  color: #fff;
  text-align: right;
  vertical-align: top;
}


#droite{
  padding: 10px;
  width: 470px;
  display: inline-block;
}


#droite h1{
  text-align: left;
}

.année{
  color: orange;
}

.ecole{
  text-transform: uppercase;
}

.experience{
  padding-bottom: 15px;
}

.title{
  padding-bottom: 20px;
}

.title h1{
  padding-bottom: 10px;
}

.experience:nth-child(-n+2){
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

.experience:nth-child(3){
  margin-bottom: 240px;
}

#contact{
  margin-bottom: 247px;
}

#contact  p{
  display: inline-block;
}

#contact i{
  padding : 0 5px 0 20px;
}

#contact :nth-child(9){
  padding : 0 7px 0 20px;
}

#interet p{
  display: inline-block;
}

#interet i{
  padding : 0 5px 0 20px;
}

#competence p{
  display: inline-block;
  padding-right: 20px;
}

.desc {
  padding-top: 10px
}

#fresenius{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

#Stepan{
  padding: 20px 0;
}

/*image*/

#image{
  position: relative;
  top: -640px;
  left: 210px;
  width: 616px;
  border: 1px solid #6d89a1;
  border-right: none;
}


#image img{
  display: inline-block;
  width: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
}

#image #text{
  text-transform: uppercase;
  vertical-align: top;
  display: inline-block;
}

#image h2{
  color: orange;
  font-size: 40px;
}


/*progressbar*/

.progress-wrap{
  text-align: center;
  height: 15px;
  width: 150px;
  background-color: none;
  display: inline-block;
  z-index: 2;
}

.prog90{
  height: 15px;
  width: 135px;
  background-color: #B7B7FF;
}
.prog70{
  height: 15px;
  width: 105px;
  background-color: #B7B7FF;
}
.prog65{
  height: 15px;
  width: 97.5px;
  background-color: #B7B7FF;
}
.prog60{
  height: 15px;
  width: 90px;
  background-color: #B7B7FF;
}
.prog50{
  height: 15px;
  width: 75px;
  background-color: #B7B7FF;
}
.prog40{
  height: 15px;
  width: 60px;
  background-color: #B7B7FF;
}








